* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.top-bar {
    display: block;
    background: #000;
    position: ralative;
    min-height: 60px;  

}

.search-bar{
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    float: right;
    color: #fff;
    background: #212121;
    width: inherit;
    min-width: 300px;
    border: none;
    transition: .3s all ease;
    font-size: 16px;
    min-height: 40px;
    padding-right: 35px;
    padding-left: 15px;
    margin-right: 25ch;
    margin-top: 10px;
}

.search-icon{
    position: relative;
    float: right;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: -305px;
    margin-top: 23px;
    color: white;
    
}

.twitter-icon{
    position: relative;
    padding-left: 225px;
    padding-top: 17px;
    color:gray;
    font-size: 18px;
    transition: .5s;

}

.twitter-icon:hover
{
    color:white;
    box-shadow: #fff;
    transition: .5s;
}

.facebook-icon{
    position: relative;
    padding-left: 10px;
    padding-top: 17px;
    color:gray;
    font-size: 18px;
    transition: .5s;
    
}

.facebook-icon:hover
{
    color:white;
    box-shadow: #fff;
    transition: .5s;

}

.instagram-icon{
    position: relative;
    padding-left: 10px;
    padding-top: 17px;
    color:gray;
    font-size: 18px;
    transition: .5s;
}

.instagram-icon:hover
{
    color:white;
    box-shadow: #fff;
    transition: .5s;

}

.youtube-icon{
    position: relative;
    padding-left: 10px;
    padding-top: 17px;
    color:gray;
    font-size: 18px;
    transition: .5s;
}

.youtube-icon:hover
{
    color:white;
    box-shadow: #fff;
    transition: .5s;

}

.vimeo-icon{
    position: relative;
    padding-left: 10px;
    padding-top: 17px;
    color:gray;
    font-size: 18px;
    transition: .5s;
}

.vimeo-icon:hover
{
    color:white;
    box-shadow: #fff;
    transition: .5s;

}

.snapchat-icon{
    position: relative;
    padding-left: 10px;
    padding-top: 17px;
    color:gray;
    font-size: 18px;
    transition: .5s;
}

.snapchat-icon:hover
{
    color:white;
    box-shadow: #fff;
    transition: .5s;

}

.site-title{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    font-size: 6rem;
    box-sizing: border-box;
    margin-top: 55px;
}

.container{
    width: 80%;
    margin: 0 auto;   
    font-family: 'Josefin Sans', sans-serif;
}

.nav-links{
    text-align: center;
    margin-top: 35px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 50px;
}

.nav-links a{
    margin: 10px;
    color: grey;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links a:hover
{
    color: black;

}

.image-rotation{
    position: absolute;
    margin-top: 50px;
    display: block;
    margin-left: 500px;
    margin-right: auto;

}
